@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
* 
{
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
}
body
{
    background: #e8eaec;
}
.iphone-x
{
    margin-top: 20px;
}
.iphone-x .screen
{
    width: 42%;
    height: 625px;
    background: #e8eaec;
    box-shadow: 
    12px 12px 32px rgba(13,39,80,0.25),
    -10px 10px 15px #fff;
    margin: 0 auto;
    border: 8px solid #e8eaec;
    min-width: 310px;
    max-width: 310px;
    border-radius: 44px;
}
.screen .notch
{
    width: 159px;
    height: 30px;
    margin: 0px auto;
    background: #e8eaece1;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius:15px ;
}
.sound
{
    top: 10px;
    left: 54px;
    width: 40px;
    height: 6px;
    position: relative;
    background: #222;
    border-radius: 10px;
}
.camera
{
    top: 2px;
    left: 110px;
    width: 10px;
    height: 10px;
    position: relative;
    background: #222;
    border-radius: 100px;
}
.time
{
    color: #000;
    width: 60px;
    font-size: 11px;
    margin-top: -22px;
    background: transparent;
    margin-left: 18px;
}
.battery
{
    margin-top:-20px;
}
.battery i
{
    color: rgba(0,0,0,0.548);
    margin-left: 230px !important;
}
.wifi
{
    margin-top: -22px !important;
    margin-left: 260px;
}
.wifi i
{
    color: rgb(0,0,0);
    margin-top: -20px;
}
.top-nav
{
    width: 100%;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background: transparent;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.area
{
    min-width: 50% !important;
    width: 93% !important;
    min-height: 120px !important;
    margin-left: -5px;
    margin-top: -5px;
    font-size: 30px !important;
    text-align: center;
    text-align: right;
    overflow: scroll;
    outline: none;
    border: none;
    font-weight: bold;
    color: #0b254e;
    background: #e8eaec;
    border-radius: 10px;
    padding: 12px;
    box-shadow: 
    6px 6px 8px rgba(13, 39, 80, 0.25),
    -6px -6px 10px #fff,
    inset -8px -8px 12px rgba(255,255,255,0.7),
    inset 5px 5px 8px rgba(13,39,80,0.2);


}
.calculator
{
    margin: 0;
    box-sizing: content-box;
}
.key
{
    float:  left !important;
    font-size: 15pt;
    display: flex !important;
    margin: -5%;
    margin-left: auto !important;
    margin-right: auto !important;
}
.first-col,
.second-col,
.third-col,
.fourth-col,
.fifth-col
{
    padding: 10px;
    white-space: wrap;
    margin: -9.5px;
    display: inline-block;
    margin-top: 20px !important;
    justify-content: space-between !important;
}
.button
{
    display: block;
    padding-left: 40px;
    min-height: 40px;
    padding-right: 30px;
    white-space: wrap;
    word-wrap: break-word;
    margin-top: 20px;
    justify-content: space-between !important;
}
button
{
    position: relative;
    margin-left: -54px !important;
    min-width: 45px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0px;
    background: transparent;
    color: #c2c3c3 !important;
    border: none !important;
    border-radius: 10px !important;
    height: 45px;
    outline: none;
    font-weight:  bold !important;
    font-size: 14pt !important;
    box-shadow: 
    4px 4px 8px rgba(13, 39,80,0.25),
    -4px 4px 8px #fff;
}
.btn-work
{
    color: #0b254e !important;
}
.btn-equal
{
    color: #0b254e !important;
    height: 120px !important;
}
button:focus
{
    cursor: pointer;
    outline: none !important;
    border: none !important;

}
button:active
{
    box-shadow: 
    -3px -3px 7px #a0a0a032,
    3px 3px 5px rgba(94, 104, 121, 0.417);
    outline: none !important;
    border: none !important;
}
button:hover
{
    color: #696a6a !important;
}
.btn-work:hover,
.btn-equal:hover
{
    color:#0b254e !important;
}
.home
{
    margin-top: 382px;
    margin-left: 72px;
    font-size: 30px;
    cursor: pointer;
    color: #0b254e;
}
.menu
{
    margin-top: 392px;
    margin-left: -275px;
    font-size: 20px;
    cursor: pointer;
    color: #0b254e;
}
.back
{
    margin-top: 392px;
    margin-left: 75px;
    font-size: 20px;
    cursor: pointer;
    color: #0b254e;
}



/* -------------------DARK MODE-------------------- */

body.dark {
	background: #2b2c2c;
}

body.dark .iphone-x .screen
{    
    background: #1e1e1f;
    box-shadow: 
    12px 12px 32px rgba(26, 27, 27, 0.25),
    -10px 10px 15px rgb(29, 28, 28);
    border: 8px solid #1e1e1f;    
}




body.dark .screen .notch
{    
    background: #191b1de1;    
}

body.dark .sound
{
    background: rgb(153, 152, 152);
}
body.dark .camera
{    
    background: rgb(173, 171, 171);
}
body.dark .time
{
    color: #ededed;
}

body.dark .battery i
{
    color: #ededed;
    margin-left: 230px !important;
}

body.dark .wifi i
{
    color: #ededed;
}

body.dark .area
{
    color: #dddddd;
    background: #292b2b;
    font-weight: 400;
    box-shadow: 
    6px 6px 8px rgba(23, 23, 24, 0.25),
    -6px -6px 10px rgb(32, 30, 30),
    inset -8px -8px 12px rgba(44, 41, 41, 0.7),
    inset 5px 5px 8px rgba(18, 18, 19, 0.2);
}

body.dark button
{
    background:#2c2e2e;
    color: #c2c3c3 !important;   
    box-shadow: 
    4px 4px 8px rgba(40, 41, 43, 0.25),
    -4px 4px 8px rgb(24, 23, 23);
}
body.dark .btn-work
{
    color: #0feba1 !important;
}
body.dark .btn-equal
{
    background:#10eb90;
    color: #f9fafc !important;
    height: 120px !important;
}

body.dark button:active
{
    box-shadow: 
    -3px -3px 7px #3f3e3e32,
    3px 3px 5px rgba(42, 42, 43, 0.417);
    
}
body.dark button:hover
{
    background:#10eb90;
    color: #ecf1f1 !important;
}
body.dark .btn-work:hover,
body.dark .btn-equal:hover
{
    background:#f7f6f5;
    color:#1dfc9f !important;
}
body.dark .home
{
    color: #f0f5f3;
}
body.dark .menu
{
    color: #b4b8b8;
}
body.dark .back
{
    color: #b6b6b8;
}

.dark-toggle{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.checkbox {
	opacity: 0;
    position: relative;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}